<!DOCTYPE html>
<html th:fragment="footer (template)">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" th:href="@{/css/homeStyle.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />



</head>
<body>

	<footer class="my-5 pt-5 text-muted text-center text-small"
		style=" position: fixed; bottom: 0px; width: 100%; padding: 0px !important;margin: 0px !important">
		<p class="mb-1">&copy; 2017-2018 FaisTonCiné</p>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Privacy</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Support</a></li>
		</ul>
	</footer>

</body>